.sidebar {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 10px;

    width: 240px;
    min-width: 240px;
    height: 100%;

    background-color: var(--background-color-darker);
    z-index: 99999998;
}
.sidebar input {
    width: 100%;
    height: 28px;
    min-height: 28px;

    padding: 3px 6px;

    font-size: 13px;

    color: #939aa4;

    background-color: var(--background-color-most-darker);
    border-radius: 4px;
    border: none;
    outline: none;
}
.sidebar input::placeholder {
    color: #939aa4;
}

.meBlock {
    position: absolute;
    bottom: 0;
    left: 0;

    margin-top: auto;

    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;

    width: 100%;
    height: 54px;
    min-height: 54px;

    background-color: var(--background-color-most-darker-add);
    z-index: 99999999999;
}
.meBlock img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    object-fit: fill;
}
.meBlock .online {
    outline: 3px solid var(--background-color-most-darker-add);
}
.name {
    display: flex;
    flex-direction: column;

    white-space: nowrap;
    color: white;

    font-size: 13px;
    font-weight: 600;
}
.name span {
    font-size: 11px;
    color: var(--darker-white-font-color);
}

.idWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 16px;
    overflow: hidden;
}
.me {
    width: fit-content;
    height: fit-content;

    padding: 5px 10px 5px 0;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    cursor: pointer;
}
.me:hover {
    background-color: var(--background-color-most-lighter);
}
.idWrapper > :nth-child(1) {
    transition: all 0.2s ease 0s;
}
.me:hover .idWrapper > :nth-child(1) {
    margin-top: -16px;
}

.optionWrapper:nth-child(2) {
    margin-left: auto;
}
.optionWrapper {
    position: relative;

    width: fit-content;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999999;
}
.optionWrapper:hover .optionHint {
    display: flex;
}
.optionWrapper span {
    color: var(--darker-white-font-color);
    transform: scale(0.9);
    cursor: pointer;
}

.optionHint::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -16px;

    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top: 8px solid var(--hint-color);
}
.optionHint {
    position: absolute;
    transform: translateY(calc(-100% - 10px));

    display: none;

    padding: 8px 10px;

    color: var(--darker-white-font-color);
    font-weight: 600;
    font-size: 12px;

    width: fit-content;
    height: fit-content;

    background-color: var(--hint-color);
    border-radius: 5px;
    white-space: nowrap;
    z-index: 99999999999;
}

.voiceBlock {
    position: absolute;
    bottom: 54px;
    left: 0;

    margin-top: auto;

    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;

    width: 100%;
    height: 88px;
    min-height: 88px;

    border-bottom: 1px solid rgba(255,255,255,0.1);

    background-color: var(--background-color-most-darker-add);
    z-index: 99999999999;
}
.voiceBlockUpper, .voiceBlockLower {
    display: flex;
    align-items: center;

    width: 100%;
    height: 48%;

    color: var(--darker-white-font-color);
}
.signal {
    display: flex;
    flex-direction: column;

    width: 82%;
}
.signalName {
    display: flex;
    align-items: center;
    color: #2dc570;
}
.signalName h1 {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
.signalName span {
    width: 25px;
    transform: scale(0.8);
}
.signal p {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.signal p:first-letter {
    text-transform: uppercase
}

.voiceOptionWrapper {
    margin-left: auto;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 4px;
}
.voiceOptionWrapper:hover {
    background-color: #3d3e45;
}
.voiceOptionWrapper span {
    cursor: pointer;
}
.voiceOptionWrapper:hover .voiceHint {
    display: flex;
}
.voiceHint::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -16px;

    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top: 8px solid var(--hint-color);
}
.voiceHint {
    position: absolute;
    transform: translateY(calc(-100% - 10px));

    display: none;

    padding: 8px 10px;

    color: var(--darker-white-font-color);
    font-weight: 600;
    font-size: 12px;

    width: fit-content;
    height: fit-content;

    background-color: var(--hint-color);
    border-radius: 5px;
    white-space: nowrap;
    z-index: 99999999999;
}

.voiceBlockLower {
    padding: 3px;
    gap: 10px;
}
.lowerBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 115%;

    border-radius: 4px;
    background-color: #313339;
    cursor: pointer;
}
.lowerBlock:hover {
    background-color: #292b30;
}
.lowerBlock span {
    transform: scale(0.8);
    font-variation-settings: 'FILL' 1, 'wght' 200;
}
.inactive {
    background-color: #27282e;
    color: var(--inactive-color);
}

.lowerBlock:hover .voiceHint {
    display: flex;
}
