* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

#root {
  --background-color-most-darker-add: #232429;
  --background-color-most-darker: #1e1f23;
  --background-color-darker: #2b2d32;
  --background-color-lighter: #313339;
  --background-color-most-lighter: #3f4149;
  --background-color-most-lighter-add: #36383f;
  --main-color: #5764f1;
  --second-color: #23a459;

  --inactive-color: #939aa4;
}